//please make all variable names easy to remember and short. no spaces and you must put # in front of all hex color values. please rename ind-color, team-color as we don't know to what these refer. we can say main-teal or pink-accent and that will give us more of an idea of what is going on. please also list font families in the variables page. Please use www.cssfontstack.com for reference on safe stacks for maximum browser capability

$mainpage-white: #ffffff;

$navbar-green: #b0e52c;

$foot-ink: #ee3d6e;

$ind-colorteal: #4ac1c0;

$team-coloryel: #fad60a;

$bg-colorltgray: #e2e2e2;
